In [1]:
pip install requests beautifulsoup4

Requirement already satisfied: requests in c:\users\pierre\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: beautifulsoup4 in c:\users\pierre\anaconda3\lib\site-packages (4.9.3)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\pierre\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\pierre\anaconda3\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pierre\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\pierre\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\pierre\anaconda3\lib\site-packages (from beautifulsoup4) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://fr.wikipedia.org/wiki/Norme_europ%C3%A9enne_d%27%C3%A9missions"

# Envoi de la requête
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

# Recherche du tableau pour "Diesel"
diesel = soup.find("span", {"id": "V.C3.A9hicules_.C3.A0_moteur_Diesel"}).find_next("table")

# Recherche du tableau pour "Essence"
essence = soup.find("span", {"id": "V.C3.A9hicules_.C3.A0_moteur_essence_et_GPL.2FGNL"}).find_next("table")

euro = soup.find('table', {'class' : 'wikitable'})

# Conversion des tableaux en DataFrames
df_diesel = pd.read_html(str(diesel))[0]
df_essence = pd.read_html(str(essence))[0]

/tmp/ipykernel_1849/518043897.py:16: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_diesel = pd.read_html(str(diesel))[0]
/tmp/ipykernel_1849/518043897.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_essence = pd.read_html(str(essence))[0]

In [3]:
df_diesel = df_diesel.drop([0, 1, 9], axis = 0)
df_diesel = df_diesel.reset_index()
df_diesel = df_diesel.drop(['index'], axis = 1)

In [4]:
df_diesel.head(10)

,Norme,Euro 1,Euro 2,Euro 3,Euro 4,Euro 5a,Euro 5b,Euro 6b,Euro 6c,Euro 6d -TEMP,Euro 6d
0,Oxydes d'azote (NOx),-,-,500,250,180,180,80,80,80,80
1,Monoxyde de carbone (CO),2 720,1 000,640,500,500,500,500,500,500,500
2,Hydrocarbures (THC),-,-,-,-,-,-,-,-,-,-
3,Hydrocarbures non méthaniques (HCNM),-,-,-,-,-,-,-,-,-,-
4,HC + NOX,970,700,560,300,230,230,170,170,170,170
5,Particules (PM),140,80,50,25,5,45,45,45,45,45
6,Particules (PN) (nb/km),-,-,-,-,6 × 1011,6 × 1011,6 × 1011,6 × 1011,6 × 1011,6 × 1011

In [5]:
df_essence = df_essence.drop([7, 8], axis = 0)

In [6]:
df_essence.head(10)

,Norme,Euro 1,Euro 2,Euro 3,Euro 4,Euro 5[25],Euro 6b[26],Euro 6c,Euro 6d -TEMP,Euro 6d
0,Oxydes d'azote (NOx),-,-,150,80,60,60,60,60,60
1,Monoxyde de carbone (CO),2 720,2 200,2 200,1 000,1 000,1 000,1 000,1 000,1 000
2,Hydrocarbures (HC),-,-,200,100,100,100,100,100,100
3,Hydrocarbures non méthaniques (HCNM),-,-,-,-,68,68,68,68,68
4,HC + NOX,970,500,-,-,-,-,-,-,-
5,Particules (PM),-,-,-,-,5[* 1],5[* 1],45,45,45
6,Particules (PN) (nb/km),-,-,-,-,-,6 × 1012[* 2],6 × 1011,6 × 1011,6 × 1011

In [8]:
df_euro=pd.read_html(str(euro))[0]
df_euro=df_euro.drop(["Homologation des nouveaux types"], axis=1)

/tmp/ipykernel_1849/3948301884.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_euro=pd.read_html(str(euro))[0]

In [9]:
df_euro

                                    Norme Mise en service des véhicules
0                                  Euro 1              1er janvier 1993
1                       Euro 2 (voitures)              1er janvier 1997
2   Euro 2 (Véhicules utilitaires légers)              1er octobre 1997
3                                  Euro 3              1er janvier 2001
4                                  Euro 4              1er janvier 2006
5                                 Euro 5a              1er janvier 2011
6                                 Euro 5b              1er janvier 2013
7                                 Euro 6b            1er septembre 2015
8                                 Euro 6c            1er septembre 2018
9                         Euro 6d-TEMP[8]            1er septembre 2019
10                             Euro 6d[9]              1er janvier 2021

Tous les nouveaux véhicules que nous avons mis en circulation sonr des euros 6d

In [11]:
df_diesel.to_csv('emissions_diesel.csv', index = False)
df_essence.to_csv('emissions_essence.csv', index = False)
df_euro.to_csv('norme_euro.csv', index=False)